* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

main {
    background-color: aquamarine;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid white;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.square {
    float: left;
    border: 2px solid white;
}

.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.hard {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.expert {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.clicked-true {
    background-color: lightskyblue;
}




/* ********* debug ********* */
